In [1]:
import re
import string
import plotly
import traceback
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats
from pandas import Series
import plotly.graph_objs as go
import matplotlib.pyplot as plt
from sklearn import preprocessing
import scipy.stats.stats as stats
import pandas.core.algorithms as algos
from sklearn.preprocessing import OneHotEncoder 
%matplotlib inline

In [2]:
aa = pd.read_csv('accidents_2005_to_2007.csv', low_memory = False)
aaa = pd.read_csv('accidents_2009_to_2011.csv', low_memory = False)
aaaa = pd.read_csv('accidents_2012_to_2014.csv', low_memory = False)

In [3]:
# Spajamo tablice u jednu
df = pd.concat([aa, aaa, aaaa])

In [4]:
df.head(2)

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location,Year
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,...,Zebra crossing,Daylight: Street light present,Raining without high winds,Wet/Damp,None,None,1,Yes,E01002849,2005
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,...,Pedestrian phase at traffic signal junction,Darkness: Street lights present and lit,Fine without high winds,Dry,None,None,1,Yes,E01002909,2005

In [5]:
df.dtypes

Accident_Index                                  object
Location_Easting_OSGR                          float64
Location_Northing_OSGR                         float64
Longitude                                      float64
Latitude                                       float64
Police_Force                                     int64
Accident_Severity                                int64
Number_of_Vehicles                               int64
Number_of_Casualties                             int64
Date                                            object
Day_of_Week                                      int64
Time                                            object
Local_Authority_(District)                       int64
Local_Authority_(Highway)                       object
1st_Road_Class                                   int64
1st_Road_Number                                  int64
Road_Type                                       object
Speed_limit                                      int64
Junction_Detail                                float64
Junction_Control                                object
2nd_Road_Class                                   int64
2nd_Road_Number                                  int64
Pedestrian_Crossing-Human_Control               object
Pedestrian_Crossing-Physical_Facilities         object
Light_Conditions                                object
Weather_Conditions                              object
Road_Surface_Conditions                         object
Special_Conditions_at_Site                      object
Carriageway_Hazards                             object
Urban_or_Rural_Area                              int64
Did_Police_Officer_Attend_Scene_of_Accident     object
LSOA_of_Accident_Location                       object
Year                                             int64
dtype: object

In [6]:
# Maknut ću 'Junction_Detail' and 'LSOA_of_Accident_Location' jer ili nema uopće podataka ili su podaci nebitni, tj. šifre 
df.drop(['Junction_Detail', 'LSOA_of_Accident_Location'], axis=1, inplace=True)

In [7]:
df = df.dropna(axis=0, subset=['Location_Easting_OSGR'])
df = df.dropna(axis=0, subset=['Time'])
df = df.dropna(axis=0, subset=['Pedestrian_Crossing-Human_Control'])
df = df.dropna(axis=0, subset=['Pedestrian_Crossing-Physical_Facilities'])
df = df.dropna(axis=0, subset=['Road_Surface_Conditions'])
df = df.dropna(axis=0, subset=['Weather_Conditions'])
df = df.dropna(axis=0, subset=['Special_Conditions_at_Site'])
df = df.dropna(axis=0, subset=['Carriageway_Hazards'])
df = df.dropna(axis=0, subset=['Did_Police_Officer_Attend_Scene_of_Accident'])

In [8]:
df.isnull().sum()/df.shape[0]*[100]

Accident_Index                                  0.000000
Location_Easting_OSGR                           0.000000
Location_Northing_OSGR                          0.000000
Longitude                                       0.000000
Latitude                                        0.000000
Police_Force                                    0.000000
Accident_Severity                               0.000000
Number_of_Vehicles                              0.000000
Number_of_Casualties                            0.000000
Date                                            0.000000
Day_of_Week                                     0.000000
Time                                            0.000000
Local_Authority_(District)                      0.000000
Local_Authority_(Highway)                       0.000000
1st_Road_Class                                  0.000000
1st_Road_Number                                 0.000000
Road_Type                                       0.000000
Speed_limit                                     0.000000
Junction_Control                               40.078426
2nd_Road_Class                                  0.000000
2nd_Road_Number                                 0.000000
Pedestrian_Crossing-Human_Control               0.000000
Pedestrian_Crossing-Physical_Facilities         0.000000
Light_Conditions                                0.000000
Weather_Conditions                              0.000000
Road_Surface_Conditions                         0.000000
Special_Conditions_at_Site                      0.000000
Carriageway_Hazards                             0.000000
Urban_or_Rural_Area                             0.000000
Did_Police_Officer_Attend_Scene_of_Accident     0.000000
Year                                            0.000000
dtype: float64

In [9]:
df.shape

(1499500, 31)

In [10]:
def max_val(s):
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

year_wise_casualties = df.groupby(['Year'])['Number_of_Casualties'].sum()
year_wise_casualties = year_wise_casualties.reset_index()
year_wise_casualties = year_wise_casualties.style.apply(max_val, axis=0)
year_wise_casualties

In [11]:
cas_table = df.groupby(['Day_of_Week']).agg({'Number_of_Casualties':['sum'],'Speed_limit':['min','max']})
cas_table = cas_table.sort_values([('Number_of_Casualties','sum')],ascending=False)
cas_table = cas_table.reset_index()
cas_table.style.apply(max_val)

In [12]:
# tražimo sve objekte osim Date i Time
cols=[col for col in df.columns if col not in ['Date','Time'] and df[col].dtypes=='object']

In [13]:
df[cols].head(2)

,Accident_Index,Local_Authority_(Highway),Road_Type,Junction_Control,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Did_Police_Officer_Attend_Scene_of_Accident
0,200501BS00001,E09000020,Single carriageway,NaN,None within 50 metres,Zebra crossing,Daylight: Street light present,Raining without high winds,Wet/Damp,None,None,Yes
1,200501BS00002,E09000020,Dual carriageway,Automatic traffic signal,None within 50 metres,Pedestrian phase at traffic signal junction,Darkness: Street lights present and lit,Fine without high winds,Dry,None,None,Yes

In [14]:
df['Accident_Severity'].value_counts()

3    1275966
2     204119
1      19415
Name: Accident_Severity, dtype: int64

In [15]:
# Micanje 1 - smrt
df.drop(df.loc[df['Accident_Severity']==1].index, inplace=True)

In [16]:
df['Accident_Severity'].value_counts()

3    1246438
2     199201
Name: Accident_Severity, dtype: int64

In [17]:
df.shape

(1445639, 31)

In [18]:
le = preprocessing.LabelEncoder()

In [19]:
df['Local_Authority_(Highway)']=le.fit_transform(df['Local_Authority_(Highway)'])
df['Road_Type']=le.fit_transform(df['Road_Type'])
df['Pedestrian_Crossing-Human_Control']=le.fit_transform(df['Pedestrian_Crossing-Human_Control'])
df['Pedestrian_Crossing-Physical_Facilities']=le.fit_transform(df['Pedestrian_Crossing-Physical_Facilities'])
df['Light_Conditions']=le.fit_transform(df['Light_Conditions'])
df['Weather_Conditions']=le.fit_transform(df['Weather_Conditions'])
df['Road_Surface_Conditions']=le.fit_transform(df['Road_Surface_Conditions'])
df['Special_Conditions_at_Site']=le.fit_transform(df['Special_Conditions_at_Site'])
df['Carriageway_Hazards']=le.fit_transform(df['Carriageway_Hazards'])
df['Did_Police_Officer_Attend_Scene_of_Accident']=le.fit_transform(df['Did_Police_Officer_Attend_Scene_of_Accident'])

In [20]:
df.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,Year
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,...,2,4,4,5,4,3,3,1,1,2005
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,...,2,3,2,1,0,3,3,1,1,2005
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,2,2,2,1,0,3,3,1,1,2005
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,...,2,2,4,1,0,3,3,1,1,2005
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,...,2,2,1,1,4,3,3,1,1,2005

In [21]:
df.dtypes

Accident_Index                                  object
Location_Easting_OSGR                          float64
Location_Northing_OSGR                         float64
Longitude                                      float64
Latitude                                       float64
Police_Force                                     int64
Accident_Severity                                int64
Number_of_Vehicles                               int64
Number_of_Casualties                             int64
Date                                            object
Day_of_Week                                      int64
Time                                            object
Local_Authority_(District)                       int64
Local_Authority_(Highway)                        int32
1st_Road_Class                                   int64
1st_Road_Number                                  int64
Road_Type                                        int32
Speed_limit                                      int64
Junction_Control                                object
2nd_Road_Class                                   int64
2nd_Road_Number                                  int64
Pedestrian_Crossing-Human_Control                int32
Pedestrian_Crossing-Physical_Facilities          int32
Light_Conditions                                 int32
Weather_Conditions                               int32
Road_Surface_Conditions                          int32
Special_Conditions_at_Site                       int32
Carriageway_Hazards                              int32
Urban_or_Rural_Area                              int64
Did_Police_Officer_Attend_Scene_of_Accident      int32
Year                                             int64
dtype: object

In [22]:
# Promjena iz int32 u int64
cols_int=[col for col in df.columns if col not in ['Accident_Index','Location_Easting_OSGR', 'Location_Northing_OSGR',
       'Longitude', 'Latitude', 'Date','Time'] and df[col].dtypes=='int32']

In [23]:
df[cols_int] = df[cols_int].astype('int64')

In [24]:
df.dtypes

Accident_Index                                  object
Location_Easting_OSGR                          float64
Location_Northing_OSGR                         float64
Longitude                                      float64
Latitude                                       float64
Police_Force                                     int64
Accident_Severity                                int64
Number_of_Vehicles                               int64
Number_of_Casualties                             int64
Date                                            object
Day_of_Week                                      int64
Time                                            object
Local_Authority_(District)                       int64
Local_Authority_(Highway)                        int64
1st_Road_Class                                   int64
1st_Road_Number                                  int64
Road_Type                                        int64
Speed_limit                                      int64
Junction_Control                                object
2nd_Road_Class                                   int64
2nd_Road_Number                                  int64
Pedestrian_Crossing-Human_Control                int64
Pedestrian_Crossing-Physical_Facilities          int64
Light_Conditions                                 int64
Weather_Conditions                               int64
Road_Surface_Conditions                          int64
Special_Conditions_at_Site                       int64
Carriageway_Hazards                              int64
Urban_or_Rural_Area                              int64
Did_Police_Officer_Attend_Scene_of_Accident      int64
Year                                             int64
dtype: object

In [25]:
# df.Junction_Control.corr(df.Speed_limit)

In [26]:
df_int = df.drop(['Accident_Index', 'Location_Easting_OSGR', 'Location_Northing_OSGR',
       'Longitude', 'Latitude','Date', 'Time', 'Junction_Control'], axis=1,)

In [27]:
df_int.dtypes

Police_Force                                   int64
Accident_Severity                              int64
Number_of_Vehicles                             int64
Number_of_Casualties                           int64
Day_of_Week                                    int64
Local_Authority_(District)                     int64
Local_Authority_(Highway)                      int64
1st_Road_Class                                 int64
1st_Road_Number                                int64
Road_Type                                      int64
Speed_limit                                    int64
2nd_Road_Class                                 int64
2nd_Road_Number                                int64
Pedestrian_Crossing-Human_Control              int64
Pedestrian_Crossing-Physical_Facilities        int64
Light_Conditions                               int64
Weather_Conditions                             int64
Road_Surface_Conditions                        int64
Special_Conditions_at_Site                     int64
Carriageway_Hazards                            int64
Urban_or_Rural_Area                            int64
Did_Police_Officer_Attend_Scene_of_Accident    int64
Year                                           int64
dtype: object

In [30]:
#Target vrijednost Accident_Severity = 1 = Fatal, 2 = Serious, 3 = Slight, a moramo smanjiti na 2 ishoda - 1 = Fatal, 2 = Survive)
#df_int['Accident_Severity'] = df_int['Accident_Severity'].replace(3, 2)

## '2'(serious) into '0' and '3'(Slight) into '1'

df_int['target'] = df['Accident_Severity'].apply(lambda x : 1 if x == 3 else 0)  # Convert to 
df_int = df_int.drop('Accident_Severity',axis=1)

In [31]:
df_int.head(20)

,Police_Force,Number_of_Vehicles,Number_of_Casualties,Day_of_Week,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,...,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,Year,target
0,1,1,1,3,12,111,3,3218,3,30,...,4,4,5,4,3,3,1,1,2005,0
1,1,1,1,4,12,111,4,450,0,30,...,3,2,1,0,3,3,1,1,2005,1
2,1,2,1,5,12,111,5,0,3,30,...,2,2,1,0,3,3,1,1,2005,1
3,1,1,1,6,12,111,3,3220,3,30,...,2,4,1,0,3,3,1,1,2005,1
4,1,1,1,2,12,111,6,0,3,30,...,2,1,1,4,3,3,1,1,2005,1
5,1,2,1,3,12,111,6,0,3,30,...,2,4,5,4,4,3,1,1,2005,1
6,1,2,1,5,12,111,5,0,3,30,...,2,2,1,0,3,3,1,1,2005,1
7,1,1,2,6,12,111,3,315,0,30,...,2,4,1,0,3,3,1,1,2005,1
8,1,2,2,7,12,111,3,3212,3,30,...,3,2,1,0,3,3,1,1,2005,1
9,1,2,5,7,12,111,4,450,3,30,...,0,4,1,0,3,3,1,1,2005,1
10,1,1,1,1,12,111,3,4,3,30,...,3,2,1,0,3,3,1,1,2005,1
11,1,2,1,3,12,111,3,3220,3,30,...,3,2,1,4,3,3,1,1,2005,1
12,1,1,1,3,12,111,6,0,1,30,...,4,4,5,4,3,3,1,1,2005,1
13,1,2,1,3,12,111,3,3217,1,30,...,2,2,5,4,3,3,1,1,2005,1
14,1,1,2,3,12,111,3,4,0,30,...,2,4,1,0,3,3,1,1,2005,1
15,1,1,1,3,12,111,3,3217,3,30,...,4,4,1,0,3,3,1,1,2005,1
16,1,2,1,5,12,111,6,0,3,30,...,2,2,1,0,3,3,1,1,2005,0
17,1,2,1,6,12,111,3,3218,3,30,...,2,4,1,0,3,3,1,1,2005,1
18,1,2,1,6,12,111,4,302,3,30,...,2,2,1,0,3,3,1,1,2005,1
19,1,1,1,7,12,111,3,4,3,30,...,2,2,1,0,3,3,1,1,2005,0

In [32]:
df.columns

Index(['Accident_Index', 'Location_Easting_OSGR', 'Location_Northing_OSGR',
       'Longitude', 'Latitude', 'Police_Force', 'Accident_Severity',
       'Number_of_Vehicles', 'Number_of_Casualties', 'Date', 'Day_of_Week',
       'Time', 'Local_Authority_(District)', 'Local_Authority_(Highway)',
       '1st_Road_Class', '1st_Road_Number', 'Road_Type', 'Speed_limit',
       'Junction_Control', '2nd_Road_Class', '2nd_Road_Number',
       'Pedestrian_Crossing-Human_Control',
       'Pedestrian_Crossing-Physical_Facilities', 'Light_Conditions',
       'Weather_Conditions', 'Road_Surface_Conditions',
       'Special_Conditions_at_Site', 'Carriageway_Hazards',
       'Urban_or_Rural_Area', 'Did_Police_Officer_Attend_Scene_of_Accident',
       'Year'],
      dtype='object')

In [33]:
df_int['target'].count()

1445639

In [35]:
df_int['target'].value_counts()

1    1246438
0     199201
Name: target, dtype: int64

In [36]:
max_bin = 20
force_bin = 3

In [38]:
#df_int['target'] =df_int['Accident_Severity']
#df_int= df_int.drop('Accident_Severity',axis=1)

In [39]:
# define a binning function
def mono_bin(Y, X, n = max_bin):
    
    df1 = pd.DataFrame({"X": X, "Y": Y})
    justmiss = df1[['X','Y']][df1.X.isnull()]
    notmiss = df1[['X','Y']][df1.X.notnull()]
    r = 0
    while np.abs(r) < 1:
        try:
            d1 = pd.DataFrame({"X": notmiss.X, "Y": notmiss.Y, "Bucket": pd.qcut(notmiss.X, n)})
            d2 = d1.groupby('Bucket', as_index=True)
            r, p = stats.spearmanr(d2.mean().X, d2.mean().Y)
            n = n - 1 
        except Exception as e:
            n = n - 1

    if len(d2) == 1:
        n = force_bin         
        bins = algos.quantile(notmiss.X, np.linspace(0, 1, n))
        if len(np.unique(bins)) == 2:
            bins = np.insert(bins, 0, 1)
            bins[1] = bins[1]-(bins[1]/2)
        d1 = pd.DataFrame({"X": notmiss.X, "Y": notmiss.Y, "Bucket": pd.cut(notmiss.X, np.unique(bins),include_lowest=True)}) 
        d2 = d1.groupby('Bucket', as_index=True)
    
    d3 = pd.DataFrame({},index=[])
    d3["MIN_VALUE"] = d2.min().X
    d3["MAX_VALUE"] = d2.max().X
    d3["COUNT"] = d2.count().Y
    d3["EVENT"] = d2.sum().Y
    d3["NONEVENT"] = d2.count().Y - d2.sum().Y
    d3=d3.reset_index(drop=True)
    
    if len(justmiss.index) > 0:
        d4 = pd.DataFrame({'MIN_VALUE':np.nan},index=[0])
        d4["MAX_VALUE"] = np.nan
        d4["COUNT"] = justmiss.count().Y
        d4["EVENT"] = justmiss.sum().Y
        d4["NONEVENT"] = justmiss.count().Y - justmiss.sum().Y
        d3 = d3.append(d4,ignore_index=True)
    
    d3["EVENT_RATE"] = d3.EVENT/d3.COUNT
    d3["NON_EVENT_RATE"] = d3.NONEVENT/d3.COUNT
    d3["DIST_EVENT"] = d3.EVENT/d3.sum().EVENT
    d3["DIST_NON_EVENT"] = d3.NONEVENT/d3.sum().NONEVENT
    d3["WOE"] = np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["IV"] = (d3.DIST_EVENT-d3.DIST_NON_EVENT)*np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["VAR_NAME"] = "VAR"
    d3 = d3[['VAR_NAME','MIN_VALUE', 'MAX_VALUE', 'COUNT', 'EVENT', 'EVENT_RATE', 'NONEVENT', 'NON_EVENT_RATE', 'DIST_EVENT','DIST_NON_EVENT','WOE', 'IV']]       
    d3 = d3.replace([np.inf, -np.inf], 0)
    d3.IV = d3.IV.sum()
    
    return(d3)

def char_bin(Y, X):
        
    df1 = pd.DataFrame({"X": X, "Y": Y})
    justmiss = df1[['X','Y']][df1.X.isnull()]
    notmiss = df1[['X','Y']][df1.X.notnull()]    
    df2 = notmiss.groupby('X',as_index=True)
    
    d3 = pd.DataFrame({},index=[])
    d3["COUNT"] = df2.count().Y
    d3["MIN_VALUE"] = df2.sum().Y.index
    d3["MAX_VALUE"] = d3["MIN_VALUE"]
    d3["EVENT"] = df2.sum().Y
    d3["NONEVENT"] = df2.count().Y - df2.sum().Y
    
    if len(justmiss.index) > 0:
        d4 = pd.DataFrame({'MIN_VALUE':np.nan},index=[0])
        d4["MAX_VALUE"] = np.nan
        d4["COUNT"] = justmiss.count().Y
        d4["EVENT"] = justmiss.sum().Y
        d4["NONEVENT"] = justmiss.count().Y - justmiss.sum().Y
        d3 = d3.append(d4,ignore_index=True)
    
    d3["EVENT_RATE"] = d3.EVENT/d3.COUNT
    d3["NON_EVENT_RATE"] = d3.NONEVENT/d3.COUNT
    d3["DIST_EVENT"] = d3.EVENT/d3.sum().EVENT
    d3["DIST_NON_EVENT"] = d3.NONEVENT/d3.sum().NONEVENT
    d3["WOE"] = np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["IV"] = (d3.DIST_EVENT-d3.DIST_NON_EVENT)*np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["VAR_NAME"] = "VAR"
    d3 = d3[['VAR_NAME','MIN_VALUE', 'MAX_VALUE', 'COUNT', 'EVENT', 'EVENT_RATE', 'NONEVENT', 'NON_EVENT_RATE', 'DIST_EVENT','DIST_NON_EVENT','WOE', 'IV']]      
    d3 = d3.replace([np.inf, -np.inf], 0)
    d3.IV = d3.IV.sum()
    d3 = d3.reset_index(drop=True)
    
    return(d3)

def data_vars(df1, target):
    
    stack = traceback.extract_stack()
    filename, lineno, function_name, code = stack[-2]
    vars_name = re.compile(r'\((.*?)\).*$').search(code).groups()[0]
    final = (re.findall(r"[\w']+", vars_name))[-1]
    
    x = df1.dtypes.index
    count = -1
    
    for i in x:
        if i.upper() not in (final.upper()):
            if np.issubdtype(df1[i], np.number) and len(Series.unique(df1[i])) > 2:
                conv = mono_bin(target, df1[i])
                conv["VAR_NAME"] = i
                count = count + 1
            else:
                conv = char_bin(target, df1[i])
                conv["VAR_NAME"] = i            
                count = count + 1
                
            if count == 0:
                iv_df = conv
            else:
                iv_df = iv_df.append(conv,ignore_index=True)
    
    iv = pd.DataFrame({'IV':iv_df.groupby('VAR_NAME').IV.max()})
    iv = iv.reset_index()
    return(iv_df,iv)

In [40]:
final_iv, IV = data_vars(df_int,df_int.target)

In [41]:
final_iv.head(10)

,VAR_NAME,MIN_VALUE,MAX_VALUE,COUNT,EVENT,EVENT_RATE,NONEVENT,NON_EVENT_RATE,DIST_EVENT,DIST_NON_EVENT,WOE,IV
0,Police_Force,1,13,522067,452748,0.867222,69319,0.132778,0.363233,0.347985,0.042886,0.001543
1,Police_Force,14,43,484448,417917,0.862666,66531,0.137334,0.335289,0.333989,0.003884,0.001543
2,Police_Force,44,98,439124,375773,0.855733,63351,0.144267,0.301477,0.318026,-0.053436,0.001543
3,Number_of_Vehicles,1,2,1298162,1116129,0.859776,182033,0.140224,0.895455,0.913816,-0.020297,0.003919
4,Number_of_Vehicles,3,67,147477,130309,0.883589,17168,0.116411,0.104545,0.086184,0.193131,0.003919
5,Number_of_Casualties,1,1,1112749,965905,0.868035,146844,0.131965,0.774932,0.737165,0.049964,0.007746
6,Number_of_Casualties,2,93,332890,280533,0.842720,52357,0.157280,0.225068,0.262835,-0.155125,0.007746
7,Day_of_Week,1,4,796891,688008,0.863365,108883,0.136635,0.551979,0.546599,0.009796,0.000117
8,Day_of_Week,5,7,648748,558430,0.860781,90318,0.139219,0.448021,0.453401,-0.011938,0.000117
9,Local_Authority_(District),1,200,489225,424716,0.868140,64509,0.131860,0.340744,0.323839,0.050885,0.001634

In [42]:
IV.sort_values('IV')

                                       VAR_NAME        IV
17                   Special_Conditions_at_Site  0.000009
4                           Carriageway_Hazards  0.000044
0                                1st_Road_Class  0.000104
5                                   Day_of_Week  0.000117
12            Pedestrian_Crossing-Human_Control  0.000249
13      Pedestrian_Crossing-Physical_Facilities  0.000670
1                               1st_Road_Number  0.001196
15                      Road_Surface_Conditions  0.001332
14                                 Police_Force  0.001543
8                    Local_Authority_(District)  0.001634
21                                         Year  0.001883
16                                    Road_Type  0.002409
11                           Number_of_Vehicles  0.003919
9                     Local_Authority_(Highway)  0.004508
20                           Weather_Conditions  0.006421
2                                2nd_Road_Class  0.006789
10                         Number_of_Casualties  0.007746
7                              Light_Conditions  0.011548
3                               2nd_Road_Number  0.017815
18                                  Speed_limit  0.022205
19                          Urban_or_Rural_Area  0.024337
6   Did_Police_Officer_Attend_Scene_of_Accident  0.118327